<div class="Employee-form p-2">
  <h4>Add Employee</h4>
</div>
<div>
  <div class="Employee-form">
    <div class="container mt-4">
      <form [formGroup]="EmployeeForm">
        <div class="mb-3">
          <label for="firstName" class="form-label">First Name</label>
          <input
            id="firstName"
            formControlName="FirstName"
            class="form-control"
            type="text"
          />
          <div
            *ngIf="
              EmployeeForm.get('FirstName')!.invalid &&
              EmployeeForm.get('FirstName')!.touched
            "
            class="text-danger"
          >
            First Name is required
          </div>
        </div>

        <div class="mb-3">
          <label for="lastName" class="form-label">Last Name</label>
          <input
            id="lastName"
            formControlName="LastName"
            class="form-control"
            type="text"
          />
          <div
            *ngIf="
              EmployeeForm.get('LastName')!.invalid &&
              EmployeeForm.get('LastName')!.touched
            "
            class="text-danger"
          >
            Last Name is required
          </div>
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            id="email"
            formControlName="Email"
            class="form-control"
            type="email"
          />
          <div
            *ngIf="
              EmployeeForm.get('Email')!.invalid &&
              EmployeeForm.get('Email')!.touched
            "
            class="text-danger"
          >
            <div *ngIf="EmployeeForm.get('Email')!.errors?.['required']">
              Email is required
            </div>
            <div *ngIf="EmployeeForm.get('Email')!.errors?.['email']">
              Invalid email format
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Designation</label>
          <input
            id="Designation"
            formControlName="Designation"
            class="form-control"
            type="text"
          />
          <div
            *ngIf="
              EmployeeForm.get('Designation')!.invalid &&
              EmployeeForm.get('Designation')!.touched
            "
            class="text-danger"
          >
            <div *ngIf="EmployeeForm.get('Designation')!.errors?.['required']">
              Designation is required
            </div>
            <div *ngIf="EmployeeForm.get('Designation')!.errors?.['Designation']">
              Invalid Designation format
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="button d-flex p-3">
    <div class="add-button">
      <button type="button" class="btn btn-success" (click)="AddEmployeeDetails()">{{!IsUpdate ? 'Add' : 'Update'}}</button>
    </div>
    <div class="cancel-button">
      <button type="button" class="btn btn-danger" (click)="CloseModel()">
        Cancel
      </button>
    </div>
  </div>
</div>
